/*
  ----------------
  Grid system
  ----------------
*/


@mixin row {
  @media #{$pc} {
    @include clearfix;
    margin-left: -#{$gutter};
    margin-right: -#{$gutter};
  }
}

.row {
  @include row;
}

@mixin col-3 {


  @media #{$pc} {
    width: 25%;
    float: left;
    @include padding(null #{$gutter});
  }

  @media #{$sp} {
    width: 100%;
  }
}

.col-3 {
  @include col-3;
}


@mixin col-4 {


  @media #{$pc} {
    width: 33.33%;
    float: left;
    @include padding(null #{$gutter});
  }

  @media #{$sp} {
    width: 100%;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

.col-4 {
  @include col-4;
}

.col-5 {

  @media #{$pc} {
    width: 41.66%;
    float: left;
    @include padding(null #{$gutter});
  }

  @media #{$sp} {
    width: 100%;
  }
}

@mixin col-6 {
  @media #{$pc} {
    width: 50%;
    float: left;
    @include padding(null #{$gutter});
  }

  @media #{$sp} {
    width: 100%;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

.col-6 {
  @include col-6;

  &--right-pc {
    @media #{$pc} {
      float: right;
    }
  }
}

@mixin col-7 {
  @media #{$pc} {
    width: 58.33%;
    float: left;
    @include padding(null #{$gutter});
  }

  @media #{$sp} {
    width: 100%;
  }
}

.col-7 {
  @include col-7;
}