// Breakpoint設定

$sp: "all and (max-width : 768px)";

$pc: "all and (min-width: 769px)";

// Font-family

$font-family: 'Noto Sans Japanese','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','游ゴシック','Yu Gothic','游ゴシック体','YuGothic','ＭＳ Ｐゴシック','MS PGothic',sans-serif;

// カラー

$primary-color: #000;

$secondary-color: #ccc;

$tertiary-color: #eee;


// テキストカラー



// コンテナー設定

$container: 1020px;

// グリッド設定

$gutter: 20px;
$small-gutter: 10px;

